/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html,
body {
  background-color: #444;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  font-family: "Ubuntu", cursive;
}

/*
 * Header
 */
header {
  margin-bottom: 2rem;
  font-family: "Press Start 2P", cursive;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  font-family: "Ubuntu", cursive;
  justify-content: center;
}

.card,
.card-body,
.card-title {
  color: #222;
  justify-content: left;
  margin-bottom: 0.5rem;
}

.logo {
  max-width: 150px;
}

a:hover div{
  color: #06c;
}

div.card-body em {
  color: #888;
}

/*
 * Footer
 */
footer {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 2rem;
  font-family: "Press Start 2P", cursive;
  justify-content: center;
}
